.lists {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.titleBlock {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 75px 75px 0 75px;
}

.title {
  display: flex;

  padding: 30px 45px 30px 45px;

  color: black;

  background-color: coral;
  border: 2px solid black;
  border-radius: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
}
