.App {
  overflow: hidden;

  width: 100vw;
}

.app {
  overflow: hidden;

  width: 100vw;
}

.content {
  padding: 30px 0;
}

.container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}
